.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loading-message {
  color: white;
  font-size: 18px;
  margin-top: 20px;
  font-weight: 500;
}
